{% extends "index.html" %}

{% block content %} 
<body>
    <h2>Select the Day to Edit:</h2>

    <form class="login-form"  action="/editday/admin" method="POST">
        <div class="container" style="text-align:center">
        <br><br>
            <label><b>Day:</b></label>
                <select name="day" id="day" class="select">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Satuday">Saturday</option>
                </select><br><br><br><br>

            <!-- <input type="text" class="login-username" placeholder="Enter Day" name="day"> -->
      
            <label><b>Period:</b></label>
                <select name="period" id="period" class="select">
                    <option value="P1">P1</option>
                    <option value="P2">P2</option>
                    <option value="P3">P3</option>
                    <option value="P4">P4</option>
                    <option value="P5">P5</option>
                    <option value="P6">P6</option>
                </select><br><br><br><br>
            <!-- <input type="text" class="login-password" placeholder="Enter Slot Number" name="period"> -->

            <label><b>New Subject:</b></label>
                <select name="subject" id="period" class="select">
                    <option value="ME">ME</option>
                    <option value="CNS">CNS</option>
                    <option value="DBMS">DBMS</option>
                    <option value="ATC">ATC</option>
                    <option value="ADP">ADP</option>
                    <option value="UP">UP</option>
                    <option value="CNS LAB">CNS LAB</option>
                    <option value="DBMS LAB">DBMS LAB</option>
                    <option value="EVS">EVS</option>
                    <option value="--">None</option>
                </select><br><br><br><br>
            <!-- <input type="text" class="login-password" placeholder="Enter New Subject" name="subject"> -->
            <br><br>
            <button type="submit" name="Login" value="Login" class="login-submit">Submit</button>
        </div>

    <!-- <label for="day">Choose a car:</label>
    <select name="day" id="days">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday ">Thursday</option>
    </select>
    <br><br>
    <input type="submit" value="Submit" class="login-submit"> -->
    <!-- <button type="submit" name="submit" value="submit" class="login-submit">Submit</button> -->
    </form>

</body>
{% endblock content %}