<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="../static/login.css">

        <title>Class Time Table System</title>
    </head>

    <body>
        <br>
        <h1> Class Time Table </h1>

        {% block content %}

        <!-- Teacher Login -->
        <form class="login-form" action="/teaLogin" method="POST">
            <p>Teacher Login:</p><br>

            {% with messages = get_flashed_messages(category_filter=["teacher"]) %}

                    {% for message in messages %}
                    <br>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidedn="true">x</span>
                        </button>
                    </div>
                    {% endfor %}
                
            {% endwith %}

            <div class="container">
                <label for="uname"><b>Username:</b></label>
                <input type="text" class="login-username" placeholder="Enter Username" name="tid" required autocomplete="on">
          
                <label for="psw"><b>Password:</b></label>
                <input type="password" class="login-password" placeholder="Enter Password" name="password" required autocomplete="off">
                <br><br>
                <button type="submit" name="Login" value="Login" class="login-submit">Login</button>
            </div>
        </form><br>

        <!-- Admin Login -->
        <form class="login-form" action="/adminLogin" method="POST">
            <p>Admin Login:</p><br>
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" class="login-username" placeholder="Enter Username" name="aid" required autocomplete="on">
            
                <label for="psw"><b>Password</b></label>
                <input type="password" class="login-password" placeholder="Enter Password" name="password" required autocomplete="off">
                <br><br>
                <button type="submit" name="Login" value="Login" class="login-submit">Login</button>
            </div>
        </form><br>

        <!-- Student Login -->
        <form class="login-form" action="/stuLogin" method="POST">
            <p>Student Login:</p><br>
            
            {% with messages = get_flashed_messages(category_filter=["student"]) %}
                {% if messages %}
                    {% for message in messages %}
                    <br>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidedn="true">x</span>
                        </button>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" class="login-username" placeholder="Enter USN" name="usn" required autocomplete="on">
            
                <label for="psw"><b>Password</b></label>
                <input type="password" class="login-password" placeholder="Enter Password" name="password" required autocomplete="off">
                <br><br>
                <button type="submit" name="Login" value="Login" class="login-submit">Login</button>
            </div>
        </form>

        <!-- Register -->
        
        <a href="/registerPage"><button name="stuRegister" type="submit" class="login-submit">Register</button></a>
        {% endblock content %}

        <div class="underlay-photo"></div>
        <div class="underlay-black"></div>
        
        </body>

</html>