{% extends "index.html" %}

{% block content %} 

        <br><br>

        <form class="login-form" action="/stuRegister" method="POST">
            <p>Register:</p>
            <div class="container">
                <label for="uname"><b>Username:</b></label>
                <input type="text" class="login-username" placeholder="Enter Username" name="usn" required autocomplete="off">
          
                <label for="psw"><b>Password:</b></label>
                <input type="password" class="login-password" placeholder="Enter Password" name="password" required autocomplete="off">
                <br><br>
                <button type="submit" name="Login" value="Login" class="login-submit">Register</button>
            </div>
        </form><br>

        <a href="/"><button type="submit" class="login-submit">Click Here to Login</button> </a>

{% endblock content %} 