
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="../static/login.css">

        <title>Class Time Table System</title>
    </head>

    <body>
        <h1> Class Time Table </h1>
        
        

        <div class="underlay-photo"></div>
        <div class="underlay-black"></div>

        </body>

</html>