{% extends "index.html" %}

{% block content %}
<body>
    <h2 style="margin-left: 2cm">Your Time Table:</h2>
    <br>
    {% include "timetables.html" %}
    <br>

    <div class="wrapper">
    <!-- Top menu -->
        <div class="sidebar">
        <!-- Profile & Text -->
            <div class="profile">
                <h3>Welcome</h3>
                    <p>{{current_user.id}}</p>
            </div>
                    
            <!-- Menu Item -->
            <ul>
                <li>
                    <a class="active">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">My Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="edit/teacher">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Edit</span>
                        <!-- <div id="overlay" style="padding: 20%;">
                            <form action="/action_page.php" class="form-container">
                              <h1>Login</h1>
                          
                              <label for="email"><b>Email</b></label>
                              <input type="text" placeholder="Enter Email" name="email" required>
                          
                              <label for="psw"><b>Password</b></label>
                              <input type="password" placeholder="Enter Password" name="psw" required>
                          
                              <button type="submit" class="btn" onclick="off()">Login</button>
                              <button type="button" class="btn cancel" onclick="off()">Close</button>
                            </form>
                        </div> -->
                    </a>
                </li>
                
                <!-- <li>
                    <a>
                        <form id="myForm">
                            <input type="button" onclick="myFunction()" value="Reset form">
                        </form>
                    </a>
                </li> -->

                <li>
                    <a href="/logout">
                        <span class="icon"><i class="fa fa-power-off"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

<script>
    function subdetails() {
      var x = document.getElementById("myDIV");
      
      if (x.style.display === "none") {
        x.style.display = "block";
      } 
      
      else {
        x.style.display = "none";
      }
    }

    function on() {
        document.getElementById("overlay").style.display = "block";
      }
      
    function off() {
        document.getElementById("overlay").style.display = "none";
      }

</script>

{% endblock content %} 
