
{% block content %} 
<body>
    <br>
    <table>
        <tr>
            
            {% for header in headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        
        {% for row in tt %}
        <tr>
            {% for cell in row %}
            <td>{{cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        
    </table><br><br>

    <!-- Subject Button -->
    <div style="margin-right: 18cm;">
        <button onclick="subdetails()" class="login-submit" style="font-size: large">Subject Details</button><br><br>
        </div>
    
        <div id="myDIV" style="display: none;">
            <table style="width: 22cm; margin-right: 3cm;">
                <tr style="height:60px">
                    <th> Subject Code </th>
                    <th> Subject </th>
                    <th> Faculty </th>
                </tr>
                
                {% for row in subject %}
                <tr>
                    {% for cell in row %}
                    <td>{{cell}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                
            </table>
        </div>

    <div class="wrapper">
        <!-- Top menu -->
        <div class="sidebar">
            <!-- Profile & Text -->
            <div class="profile">
                <h3>Welcome</h3>
                <p>{{current_user.id}}</p>
            </div>
            
            <!-- Menu Item -->
            <ul>
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">My Dashboard</span>
                    </a>
                </li>
                    
                <li>
                    <a href="/logout">
                        <span class="icon"><i class="fa fa-power-off"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
{% endblock content %} 