body 
{
    background-color: rgb(71, 199, 199);
    font-family: "Open Sans", sans-serif;
    color: #acacac;
}
  
h1 
{
    color: rgb(243, 234, 234);
    font-family: "Montserrat", sans-serif;
    font-size: 350%;
    text-align: center;
    border: 5px solid rgb(0, 200, 200);
    margin:auto;
    padding: 20px;
    width: 900px;
    height: auto;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
p
{
    color: rgb(180, 155, 155);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    border: 2px solid powderblue;
    padding: 5px;
}

p0
{
    border: 2px solid powderblue;
}

.login-form 
{
  //background: #222;
  //box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
}

.login-username, .login-password {
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(white, .5);
    color: white;
    display: block;
    margin: 1rem;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);
    &:focus {
      background: white;
      color: black;
      transition: 250ms background ease-in;
    }
}

.login-text 
{
  //background: hsl(40,30,60);
  //border-bottom: .5rem solid white;
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  //text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
  .fa-stack-1x {
    color: black;
  }
}

/*.login-submit {
  border: 2px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: auto;
  width: 100px;
  min-width: 1px;
  padding: .5rem;
  transition: 250ms background ease-in;
  &:hover, &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}*/

.login-submit {
  display: block;
  margin: auto;
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.login-submit:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.login-submit:active {
  color: #000
}

.login-submit:active:after {
  background: transparent;
}

.login-submit:hover:before {
  opacity: 1;
}

.login-submit:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

[class*=underlay] 
{
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.underlay-photo {
    animation: hue-rotate 6s infinite;
    /*background: url({{url_for('static', filename = 'assets/img/background.jpg')}})*/
    background: url('img/background.jpg');
    background-size: cover;
    -webkit-filter: grayscale(30%);
    z-index: -1;
  }

.underlay-black {
    background: rgba(0,0,0,0.7);
    z-index: -1;
  }