html{
    scroll-behavior: smooth;
}

body 
{
  background-color: rgb(71, 199, 199);
  font-family: "Open Sans", sans-serif;
  color: #acacac;
}
  
h1 
{
  color: rgb(247, 247, 207);
  font-family: "Montserrat", sans-serif;
  font-size: 350%;
  text-align: center;
  border: 5px solid rgb(0, 200, 200);
  margin: auto;
  padding: 20px;
  width: 900px;
  height: auto;
  animation: fadeIn 5s;
}

h2
{
    color:rgb(234, 243, 243)
    font-family: "Montserrat", sans-serif;
    font-size: 150%;
    text-align: center;
    margin-right: 23cm;
    padding: 20px;
}

/* Table */

table, th, td {
    border: 1px solid rgb(219, 219, 219);
    border-collapse: collapse;
}

table{
    width: 79%;
    margin-left: 270px;
}

th{
    font-size: larger;
    font-weight: large;
    color: rgb(125, 236, 255);
    width: 10cm;
}

day{
    font-size: larger;
    font-weight: bold;
    color: rgb(125, 236, 255);
}

tr{
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
p
{
    color: rgb(180, 155, 155);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    border: 2px solid powderblue;
    padding: 5px;
}

p0
{
    border: 2px solid powderblue;
}

.login-form 
{
  //background: #222;
  //box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
}

.login-username, .login-password {
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(white, .5);
    color: white;
    display: block;
    margin: 1rem;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);
    &:focus {
      background: white;
      color: black;
      transition: 250ms background ease-in;
    }
}

.login-text 
{
  //background: hsl(40,30,60);
  //border-bottom: .5rem solid white;
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  //text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
  .fa-stack-1x {
    color: black;
  }
}


.login-submit {
  display: block;
  margin: auto;
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.login-submit:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.login-submit:active {
  color: #000
}

.login-submit:active:after {
  background: transparent;
}

.login-submit:hover:before {
  opacity: 1;
}

.login-submit:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

[class*=underlay] 
{
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.underlay-photo {
    animation: hue-rotate 6s infinite;
    /*background: url({{url_for('static', filename = 'assets/img/background.jpg')}})*/
    background: url('img/background.jpg');
    background-size: cover;
    -webkit-filter: grayscale(30%);
    z-index: -1;
}

.underlay-black {
    background: rgba(0,0,0,0.7);
    z-index: -1;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body
{
    background: #000000;
}

.wrapper .sidebar
{
    background: rgb(25, 25, 25);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile
{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img
{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3
{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p
{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a
{
    display: block;
    padding: 13px 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon
{
    color: #8f8f8f;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover, .wrapper .sidebar ul li a.active
{
    color: #0c7db1;
    background:rgb(0, 0, 0);
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon
{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before
{
    display: block;
}

.wrapper .section
{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

/* Alerts */

.alert 
{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
  
.alert-heading {
    color: inherit;
}
  
.alert-link {
    font-weight: 700;
}
  
.alert-dismissible {
    padding-right: 3rem;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}
  
.alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.alert-primary .alert-link {
    color: #06357a;
}
  
.alert-secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

.alert-secondary .alert-link {
    color: #34383c;
}
  
.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-success .alert-link {
    color: #0c4128;
}
  
.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}
 
.alert-info .alert-link {
    color: #04414d;
}
  
.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.alert-warning .alert-link {
    color: #523e02;
}
  
.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-danger .alert-link {
    color: #6a1a21;
}
  
.alert-light {
    color: #636464;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light .alert-link {
    color: #4f5050;
}
  
.alert-dark {
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
}

.alert-dark .alert-link {
    color: #101214;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}
  
.btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

.btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1;
}

.btn-close:disabled, .btn-close.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 0.25;
}
  
.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
  
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

option{
    
}